*{padding: 7px;}
body {background-color: rgb(103, 0, 0);}
h1 {color: red; text-align: center; font-size: 30px; font-weight: 900;}
p {color: red; text-align: center; font-size: 30px; font-weight: 900;}