.tituloVermelho {color: red; font-size: 50px; font-style: italic;}
.tituloAzul {color: blue; font-weight: 300;}
.tituloVerde {color: green; font-size: 100px; font-weight: 900;}

.paragrafoprimeiro {color: rgb(255, 0, 179); font-size: 120px;}